h1 {
    color: red;
}

p {
    margin: 50px;
    margin-left: 50px;
}

a {
    color: white;
}

button {
    color: white;
    cursor: pointer;
    background-color: blue;
    border: none;
    margin: 100px;
}

.button:hover {
    background-color: #3e8e41
}